{% extends 'hw/base.html' %}

    {% block content %}
    <h1> About this page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Voluptatibus dolores eaque aspernatur officia soluta odio pariatur dicta dignissimos, 
        voluptates laudantium! Ad voluptates cupiditate sapiente beatae, atque expedita perspiciatis commodi hic?</p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat cum facilis ratione quaerat, 
        quod cumque enim ea ipsam consectetur sunt porro optio? Alias similique, placeat quia cum nam ab harum!
    </p>
    {% endblock %}

    